#topbarmsg-wrapper {
  display: block; 
  position: fixed;
  width: 100%; 
  top: 0px; 
  left: 0px; 
  z-index: 5000; 
  height: 33px;
}
#topbarmsg-container {
  height: 33px; 
  border-bottom-width: 3px; 
  color: rgb(255, 255, 255); 
  line-height: 30px; 
  top: 0px;
  border-bottom-color: #FFFFFF;
}
#topbarmsg-container a {
  color: #F3FA25;
  font-family: sans-serif;
  text-decoration:underline;
}
#topbarmsg-container a:hover {
  text-decoration:none;
}
#topbarmsg-open {
  display:none;
  float:right;
  color:#ffffff;
  padding:4px;
  text-decoration:none;
  position: fixed; 
  top: 0px;
  z-index: 5000; 
  right:5px;
}
#topbarmsg-close {
  width: 25px;
  text-align: center;
  float:right;
  color:#ffffff;
  background-color: #aaaaaa; 
  text-decoration: none !important;
  padding:1px 4px;
  padding-bottom: 2px;
  margin-top:-30px;
  cursor: pointer;
}
#topbarmsg-container a#topbarmsg-close  {
  color:#ffffff;	
}
#topbarmsg-logo {
  margin-left:10px;
}
#topbarmsg-content {
  font-family: sans-serif;
  margin:auto;
  width:80%;
  text-align:center;
}
